<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
</head>
<body>
    <h2>{{ message }}</h2>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}

        <div style="margin: 10px;">
            {% for error in form.blog_title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.blog_title.label }}:
            {{ form.blog_title(placeholder="バリデーションを実装") }}
            </div>
        <br>

        <div style="margin: 10px;">
            {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.description.label }}:
            {{ form.description(placeholder="validate_on_submit()を使えば、お手軽だよー") }}
        </div>
        <br>

        <div style="margin: 10px;">
        {% for error in form.tags.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

        {{ form.tags.label }}:
        {{ form.tags(placeholder="python,flask") }}
        </div>

        <br>
        <div style="margin: 10px;">
            <input type="submit" value="送信">
        </div>
    </form>

</body>
</html>
